---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// -----------------
// Declare Variables
// -----------------

// Colors

$orange: #C63D0F;
$grey:   #3B3738;
$cream:  #FDF3E7;
$green:  #7E8F7C;


// Spacing
$vertical: 24px;


// -----------------
// Normalise
// -----------------

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
}

a {
	color: $grey;
}

img {
	max-width: 100%;
	height: auto;
}

// -----------------
// Layout
// -----------------

.wrap {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 $vertical/2;
	overflow: hidden;
}

.info-bar {
	background-color: $orange;
	width: 100%;
	color: #fff;
	padding: 5px 0;
	font-size: .8em;
}


// -----------------
// Layout
// -----------------

.site-title {
	width: 30%;
	float: left;
	font-size: 2em;
}

.site-nav {
	text-align: right;
	// padding-top: 18px;
}

.nav-wrap {
	padding: $vertical $vertical/2;
	overflow: hidden;
}
	a{
	text-decoration: none;
}


.nav__item {
	display: inline-block;
	margin-left: 30px;
}

.banner {
	background: url('https://ununsplash.imgix.net/21/mac-glasses.JPG?q=75&fm=jpg&s=b071b2245118757fbfc6ff9f9dd9cb7c');
	background-size: cover;
	background-position: 0 -120px;	
	width: 100%;
	height: 300px;
}

.portfolio {
	width: 33%;
	float: left;
	padding: $vertical/2;
	img {
		border: 5px #ccc solid;
		height: 200px;
	}
}

.section {
	margin-bottom: $vertical;
}
