---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// -----------------
// Declare Variables
// -----------------

// Colors

$orange: #C63D0F;
$grey:   #3B3738;
$cream:  #FDF3E7;
$green:  #7E8F7C;


// Spacing
$vertical: 24px;


// -----------------
// Clearfix
// -----------------

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* .cf {
    zoom: 1;
} */

// -----------------
// Normalise
// -----------------

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	min-height: 100%;
}

a {
	color: $grey;
}

.page-content a {
	color: $orange;
	font-weight: bold;
}

img {
	max-width: 100%;
	height: auto;
	margin-bottom: $vertical;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}


// -----------------
// Layout
// -----------------

.wrap {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 $vertical/2;
	overflow: hidden;
}

.info-bar {
	background-color: $orange;
	width: 100%;
	color: #fff;
	padding: 5px 0;
	font-size: .8em;
}


// -----------------
// Layout
// -----------------

.header {
	border-top: 5px solid $orange;
}

.center {
	text-align: center;
	display: block;
}

.block {
	display: block;
}

.site-title {
	float: left;
	font-size: 2em;
	display: block;
	width: 100%;
}

.title--section {
  font-size: 1.8em;
}

.site-nav {
	//line-height: 48px;
	margin: 0;
	display: block;
	width: 100%;
}

.nav__item {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
  	padding: 10px 0;
  	&:hover {
	  padding-bottom: 6px;
	  border-bottom: 4px solid $orange;
	  position: relative;
	}
}

@media screen and (min-width: 730px) {
	.site-title {
		width: 30%;
		float: left;
	}
	.site-nav {
		text-align: right;
	}
	.nav__item {
	margin: 0 0 0 30px;
	font-size: 1.2em;
	}
}

ul {
	padding: 0;
}

.nav-wrap {
	padding: $vertical $vertical/2;
	overflow: hidden;
}
	a{
	text-decoration: none;
}

.banner {
	// background: url('https://ununsplash.imgix.net/21/mac-glasses.JPG?q=75&fm=jpg&s=b071b2245118757fbfc6ff9f9dd9cb7c');
	background: url('https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75&fm=jpg&s=52cb272e90a3b5e36104066cc9993d83');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	margin-bottom: $vertical;
}

.portfolio {
	// width: 33%;
	// float: left;
	padding: 0 $vertical/2;
	text-align: center;
	img {
		border: 5px #ccc solid;
		height: 200px;
		display: inline-block;
	  	&:hover {
		  border-color: $orange;
		}
	}
}

.portfolio__title {
	font-size: 1.3em;
}

.section {
	margin-bottom: $vertical*2;
}

@media screen and (min-width: 930px){
	.thirds {
		width: 33%;
		float: left;
	}

}

@media screen and (min-width: 700px) {
	.banner {
		background-position: 0 -160px;
	}
}

.sub {
    color: #666;
	opacity: 0.7;
	font-size: .9em;
}

.media__img {
	width: 25%;
	float: left;
	max-width: 90px;
}

.media__text {
	width: 75%;
	padding: 0 $vertical/2;
	float: right;
}
.mb {
	margin-bottom: $vertical;
}

.row {
  @extend .cf;
}


.row .section:first-child {
  margin-left: -24px;
}

.row .section:last-child {
  margin-right: -24px;
}

.btn {
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px 5px;
  border: 0;
  cursor: pointer;
}

// Skin

.highlight {
  color: $orange;
}

.btn--primary {
  background: $orange;
  color: #fff;
  &:hover {
	background: darken($orange,10%);
  }
}

.btn--form {
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
}

.input {
  font-size: 1.2em;
  padding: 10px 5px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 300px;
  border: none;
  display: block;
  &:focus {
	outline: none;
	border-bottom: 2px solid $orange;
  }
}

.text-input {
  border: none;
  border-bottom: 2px solid #777;
}

.textarea {
  border-top: 2px solid red;
  border-bottom: 2px solid #777;
}
