---
layout: default
---

<div class="banner"></div>

<h1>George Hunter <span class="highlight">Front End Web Design</span></h1>

<section class="section test">
	<p>
		I am a front end developer and designer, working on a variety of projects from websites to mobile applications. My main focus is building websites, taking responsibility for the vast majority of the development. This means building the front end in a scalable and performance orientated way: recreating the design so the website is as performant as possible.
	</p>
</section>

<div class="cf">
	<div class="thirds mb cf">
		<img class="media__img" src="images/icons/basic_gear.svg">
		<div class="media__text">
			<h3>Front End Development</h3>
			<p>
				I build the front end of websites and apps - responsible for everything from reporducing the design to managing performance and scalability
		   	</p>
	 	</div>
	</div>
	<div class="thirds mb cf">
		<img class="media__img" src="images/icons/pencil_rule.svg">
		<div class="media__text">
			<h3>UX Design</h3>
			<p>
				I'm responsible for making sure that designs are both appealing and user friendly, whether that is driving sales or improving user experience
			</p>
	 	</div>
	</div>
	<div class="thirds mb cf">
		<img class="media__img" src="images/icons/basic_smartphone.svg">
		<div class="media__text">
			<h3>Application Development</h3>
			<p>
				I work on hybrid mobile applications - with input on UX design and responsible for view development
			</p>
	 	</div>
	</div>
</div>


<h3>Some of my recent work</h3>

<div class="row">
	{% for item in site.data.items %}
		<div class="portfolio thirds section">
			<p class="portfolio__title">{{ item.name }}</p>
			<a href="{{ item.url }}">
				<img src="{{ site.url }}/{{ item.image }}">
			</a>
			<a class="block">Find out more</a>
		</div>
	{% endfor %}
</div>


<section class="section">
	<h3>Recent blog posts</h3>

	{% for post in site.posts limit:5 %}
		<p><a href="{{ post.url }}">{{ post.title }} - <span class="sub">{{ post.date | date: '%B %d, %Y' }}</span></a></p>
	{% endfor %}
</section>
