---
layout: default
---

<div class="banner"></div>

<h1>George Hunter</h1>
<h2>Front End Architecture</h2>

<section class="section test">
	<p>
		I am a front end developer and designer, working on a variety of projects from websites to mobile applications. My main focus is building websites, taking responsibility for the vast majority of the development. This means building the front end in a scalable and performance orientated way: recreating the design so the website is as performant as possible.
	</p>
</section>


	<div class="thirds mb cf">
		<img class="media__img" src="images/icons/basic_gear.svg">
		<div class="media__text">
			<h3>Front End Development</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		   		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		   	</p>
	 	</div>
	</div>
	<div class="thirds mb cf">
		<img class="media__img" src="images/icons/pencil_rule.svg">
		<div class="media__text">
			<h3>UX Design</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			<p></p>
	 	</div>
	</div>
	<div class="thirds mb cf">
		<img class="media__img" src="images/icons/basic_smartphone.svg">
		<div class="media__text">	
			<h3>Application Development</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			</p>
	 	</div>
	</div>
    <h3>Coming Soon...</h3>
    <a href="#" style="margin-bottom: 30px; display: block">UI-Toolkit</a>


<h3>Some of my recent work</h3>

{% for item in site.data.items %}
<div class="portfolio thirds section">
    <p class="portfolio__title">{{ item.name }}</p>
    <a href="{{ item.url }}">
    	<img src="{{ site.url }}/{{ item.image }}">
    </a>
    <a class="block">Find out more</a>
</div>
{% endfor %}

<section class="section">
	<h3>Recent blog posts</h3>

	{% for post in site.posts limit:5 %}
		<p><a href="{{ post.url }}">{{ post.title }} - <span class="sub">{{ post.date | date: '%B %d, %Y' }}</span></a></p>
	{% endfor %}
</section>
