<header class="header">

  <!-- <div class="header-contact info-bar">
    <div class="wrap">
      Call me
    </div>
  </div> -->

  <div class="wrap nav-wrap">

    <a class="site-title" href="{{ site.url }}/">{{ site.title }}</a>

    
    {% assign pages = site.pages | sort:"weight"  %}
    <ul class="site-nav">
      {% for p in pages %}
        <li class="nav__item">
          <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>

</header>


